@import "tailwindcss";

:root {
  --background: #faf8f3;
  --foreground: #3d3a36;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-smiski-primary: #7bb049;
  --color-smiski-light: #e2f0d9;
  --color-smiski-dark: #3e9a0b;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
